body

  {
  background-color: lightblue;
}
  div.fixed {
    position: center;
    bottom:0;
    right:0;
    width: 300px;
    border:3px solid #73AD21;
}
  h1 {
    color: blue;
    font-family: verdana;
}
  h3 {
    color: pink;
    font-family: verdana;

}
  h4 {
    color: purple;
    font-family: verdana;
    border: solid blue;
    position: center;
}
  h5 {
    color: blue;
    font-family: verdana;
    position: center;
}
  p {
    color: blue;
    border: 5px solid black;
    position: center;
}
 div {
  padding: 25px 50px 75px 100px;
}
  .container {
    max-width: 960px;
    margin: 0 auto;
}
  .navigation > ul > li {
    display: inline;
    list-style: none;
}
  .navigation {
    position:center;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 100vw;
}
  .navigation .dropdown {
    position: absolute;
    top: 1em;
    right: 0;
    display: none;
}
  .navigation a:hover + .dropdown {
    display: block;
}
  .navigation > ul.container {
    //these styles will extend the styles already contained in the .container Class
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

  .header{
    margin-top: 1.3em;
}
   html {
    box-sizing: border-box;
}

 .dropdown {
  overflow: hidden;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
