<style>
     {
  background-color: pink;
  }
  h1 {
    color: blue;
    font-family: verdana;
  }
  h4 {
    color: purple;
    font-family: verdana;
    border: solid blue;
  }
  h5 {
    color: blue;
    font-family: verdana;
  }
  p {
    color: blue;
    border: 5px solid black;
  }

</style>
