body
  {
  background-color: lightblue;
  }
  div {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
  h1 {
    color: blue;
    font-family: verdana;
  }
  h4 {
    color: purple;
    font-family: verdana;
    border: solid blue;
  }
  h5 {
    color: blue;
    font-family: verdana;
  }
  p {
    color: blue;
    border: 5px solid black;
  }
